@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 100;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Thin.woff2') format('woff2');		
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 300;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Light.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Light.woff2') format('woff2');	
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: normal;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Regular.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 600;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-SemiBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: bold;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Bold.woff2') format('woff2'); 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 800;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-ExtraBold.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 900;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Black.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-Black.woff2') format('woff2');		 
}

@font-face {
	font-family: Yekan Bakh;
	font-style: normal;
	font-weight: 950;
	src: url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff'),   
	url('../public/fonts/yekanbakh/woff2/YekanBakhFaNum-ExtraBlack.woff2') format('woff2');		 
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
}

/* Custom styles for react-select */
.service-select .select__control {
  @apply bg-secondary-800 border-primary-500/10 rounded-xl text-white;
}

.service-select .select__control--is-focused {
  @apply border-primary-500/30 ring-1 ring-primary-500/30 shadow-none;
}

.service-select .select__menu {
  @apply bg-secondary-800 border border-primary-500/10 rounded-xl mt-2;
}

.service-select .select__option {
  @apply text-white bg-secondary-800 hover:bg-primary-500/10;
}

.service-select .select__option--is-selected {
  @apply bg-primary-500;
}

.service-select .select__single-value {
  @apply text-white;
}

.service-select .select__placeholder {
  @apply text-gray-400;
}
